/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';


/* Variable changes go here */

// Colours
$primary: #f8d48f;
$info: #fdf6e3;

$section-padding: 1rem 1.5rem;


$size-6: .75rem;
$size-7: .65rem;



/* Import the rest of Bulma */
@import '~bulma';
